

<footer class="pb-5 pt-4 bg-dark">

<div class="container pb-4">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/popowiczankacukiernia/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse text-dark social-hov"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/popowiczanka">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse text-dark social-hov"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item" >
              <a href="https://www.google.com/maps/place/Popowiczanka+Piekarnia%26Cukiernia/@50.277397,18.9229999,15z/data=!4m2!3m1!1s0x0:0x948a5a88685fcf72?sa=X&ved=2ahUKEwi6iZfz7OT4AhXDi8MKHZAhDukQ_BJ6BAg7EAU">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                  <i class="fab fa-google fa-stack-1x fa-inverse text-dark social-hov"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
        <p class="m-0 text-center" style="color: Gray;">Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            Kamil Stasiak
        </p>
    </div>
</footer>

