{% extends "base.html" %}
{% block style %}
<style type="text/css">
    body {
        background-color: #F0EBE3;
    }
    .card-body .btn {
        color: #fff !important;
        background-color: #5a131f !important;
        border-color: #5a131f !important;
        border-radius: 50px !important;
        margin-top: 10px;
    }
    .card-body .btn:hover {
        color: #5a131f !important;
        background-color: #ffffff !important;
        border-color: #ffffff !important;
    }
</style>
{% endblock style %}
{% block title %}Logowanie - Popowiczanka{% endblock title %}

{% import "bootstrap/wtf.html" as wtf %}

{% block main %}
<div class="container" style="padding-bottom: 80px;">
    <div class="row p-lg-5 py-5 p-2">
        <div class="col d-flex justify-content-center">
            <div class="card w-m-75 shadow p-lg-5 py-3">
                <div class="card-body">
                    <h1 style="padding-right: 180px;">Zaloguj się</h1>
                    <hr>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                <p style="color: red;">{{msg}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}

